<div class="container-fluid padding-2" ng-style="style()" resize ng-controller="courseCtrl as c">
  <div class="row top_point3">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item padding-5 text-right">
         <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addCourseModal">Add Course</button>
        </li>
        <li class="list-group-item padding-5">
          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control form-control-sm uppercase text-uppercase" ng-model="c.search" placeholder="Search...">
            </div>
            <div class="col-md-9">
              <form class="form-inline float-right" ng-if="c.editing">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-building site-color"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control form-control-sm text-uppercase" id="course" name="course" ng-model="c.course.course_name" style="width: 300px;" >
                  &nbsp;
                  <button type="submit" class="btn btn-outline-success btn-sm" ng-click="c.update(c.course.course_name)">
                    <i class="fa fa-save" ng-if="!c.updating"></i>
                    <i class="fa fa-spinner fa-spin font-17px" ng-if="c.updating"></i>
                    {{ c.save_status }}
                  </button>
                  &nbsp;
                  <button type="button" class="btn btn-outline-primary btn-sm" ng-click="c.cancelEdit()">
                    <i class="fa fa-times-circle"></i>&nbsp;Close
                  </button>
                </div>    
              </form>  
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row top_point5">
    <div class="col-md-4" ng-repeat="course in c.courses | filter: c.search" style="margin-bottom: .5em;">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">{{ course.course_name | uppercase }}</h6>
          <p class="card-text">{{course.department_name}}</p>
          <div class="row">
            <div class="col">
              <button class="btn btn-info btn-sm" ng-click="c.edit(course)">
                <i class="fa fa-edit"></i>&nbsp;Edit
              </button>
              <button class="btn btn-danger btn-sm" ng-disabled="c.disableDelete" ng-click="c.deleteCourse(course)">
                <i class="fa fa-trash"></i>&nbsp;Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>