<div class="container-fluid" ng-style="style()" resize style="overflow-y: scroll;">
<!--     window.height: {{windowHeight}}
    window.width: {{windowWidth}} -->
	<div class="row top_point3 dashboard-cards">
		<div class="col">
		  <div class="card" style="box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;">
		    <div class="card-body ">
		    	<div class="row">
		    		<div class="col">
		    			<img src="images/admin.png" style="max-width:50px; ">
		    		</div>
		    		<div class="col">
				      <p class="card-text float-right">Alumni</p>
				      <h4 class="float-right">10000</h4>
		    		</div>	
		    	</div>
		    </div>
		  </div>
		</div>
		<div class="col">
		  <div class="card" style="box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;">
		    <div class="card-body">
		    	<div class="row">
		    		<div class="col">
		    			<img src="images/responsive.svg" style="max-width:50px; ">
		    		</div>
		    		<div class="col">
				      <p class="card-text float-right">Employed</p>
				      <h4 class="float-right">3000</h4>
		    		</div>	
		    	</div>
		    </div>
		  </div>
		</div>
		<div class="col">
		  <div class="card" style="box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;">
		    <div class="card-body">
		    	<div class="row">
		    		<div class="col">
		    			<img src="images/friend.svg" style="max-width:50px; ">
		    		</div>
		    		<div class="col">
				      <p class="card-text float-right">Unemployed</p>
				      <h4 class="float-right">200</h4>
		    		</div>	
		    	</div>
		    </div>
		  </div>
		</div>
		<div class="col">
		  <div class="card" style="box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;">
		    <div class="card-body">
		    	<div class="row">
		    		<div class="col-md-4">
		    			<img src="images/admin.png" style="max-width:50px; ">
		    		</div>
		    		<div class="col-md-8">
				      <p class="card-text float-right">Self Employed</p>
				      <h4 class="float-right">500</h4>
		    		</div>	
		    	</div>
		    </div>
		</div>
		</div>
	</div>
	<div class="row top_point3" ng-controller="dashboardCtrl as db">
		<div class="col">
	  	<ul class="list-group list-group-flush graph-holder-header">
		  <li class="list-group-item padding-5">
		  	<div class="row">
		  		<div class="col-md-8"></div>
			  	<div class="col-md-2">
					<form>
					  <select name="cars" class="custom-select custom-select-sm">
					    <option selected>Select Status</option>
					    <option value="volvo">Employed</option>
					    <option value="fiat">Unemployed</option>
					  </select>
					</form>
			  	</div>	
			  	<div class="col-md-2">
					<form>
					  <select name="cars" class="custom-select custom-select-sm">
					    <option selected>Select Department</option>
					    <option value="volvo">Employed</option>
					    <option value="fiat">Unemployed</option>
					  </select>
					</form>
			  	</div>
		  	</div>
		  </li>
		  <li class="list-group-item top_point3" style="box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;">
		  	<canvas class="chart chart-line" chart-data="db.data" chart-labels="db.labels" chart-series="db.series" chart-click="db.onClick" style="max-height: 400px;"></canvas>
		  </li>
		  <li class="list-group-item top_point3" style="box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;">
		  	<div class="row top_1em">
		  		<div class="col-md-12">
		  			<br />
		  			<canvas class="chart chart-bar" chart-data="db.data1" chart-labels="db.labels1" chart-series="db.series1" chart-click="db.onClick" style="max-height: 400px;"></canvas>
		  		</div>
		  	</div>
		  </li>
		</ul>  			
		</div>
	</div>
	<br />
</div>