<ng-include src="'views/add_alumni_modal.html'"></ng-include> 
<ng-include src="'views/add_events_modal.html'"></ng-include> 
<ng-include src="'views/add_department_modal.html'"></ng-include>
<ng-include src="'views/add_course_modal.html'"></ng-include>
<ng-include src="'views/add_admin_modal.html'"></ng-include>
<ng-include src="'views/update_user_modal.html'"></ng-include>
<ng-include src="'views/uploading_modal.html'"></ng-include>
<ng-include src="'views/upload_profile_modal.html'"></ng-include>
<ng-include src="'views/update_alumni_modal.html'"></ng-include>